<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VueJS</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
  <div id="vue-app">
    <h1>Keyboard Events</h1>
    <label>Name:</label>
    <input type="text" v-model="name">
    <!-- <input type="text" v-on:keyup.enter="logName"> -->
    <label>Age:</label>
    <input type="text" v-model="age">
    <!-- <input type="text" v-on:keyup.alt.enter="logAge"> -->
    <br>
    <span>{{ name }}</span>
    <span>{{ age }}</span>
  </div>

  <script src="app.js"></script>
</body>
</html>
